<div class="container">
  <h1>Flights Search</h1>
  <div class="flight-form">
    <%= form_with url: flights_path, method: :get do |f| %>
      <%= f.hidden_field :is_searching, value: 1 %>
      <%= f.collection_select :origin_id,
                              Airport.all,
                              :id,
                              :code,
                              include_blank: 'Origin' %>
      <%= f.collection_select :destination_id,
                              Airport.all,
                              :id,
                              :code,
                              include_blank: 'Destination' %>
      <%= f.collection_select :flight_id,
                              Flight.all,
                              :id,
                              :departure,
                              include_blank: 'Departure' %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
  <% if @flights.any? %>
    <%= render 'flights', flights: @flights %>
  <% end %>
</div>
  <%= console %>
